* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.bg {
  background: url("https://unsplash.com/photos/cV4qkkorDFY/download?force=true&w=2400")
    center center/cover;
  position: absolute;
  top: -30px;
  left: -30px;
  width: calc(100vw + 60px);
  height: calc(100vh + 60px);
  z-index: -1;
  filter: blur(0px);
}
.loading-text {
  font-size: 45px;
  color: whitesmoke;
}
