@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
* {
  box-sizing: border-box;
}
body {
  font-family: "Muli", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  overflow: hidden;
  height: 100vh;
}
.container {
  text-align: center;
}
.progress-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  width: 550px;
  position: relative;
  max-width: 100%;
}
.progress-container::before {
  content: "";
  background-color: grey;
  height: 4px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: -1;
}
.progress {
  background-color: #3498db;
  height: 4px;
  width: 0%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: -1;
  transition: 0.5s ease;
}
.circle {
  background-color: white;
  color: grey;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid grey;
  transition: 0.5s ease;
}
.circle.active {
  border-color: #3498db;
}
.btn {
  background-color: #3498db;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  padding: 8px 30px;
  margin: 5px;
  font-size: 14px;
}
.btn:active {
  transform: scale(0.98);
}
.btn:focus {
  outline: 0;
}
.btn:disabled {
  background-color: grey;
  cursor: not-allowed;
}
