* {
  box-sizing: border-box;
  font-family: "Montserrat Light";
}
body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0;
  background-color: #08aeea;
  background-image: linear-gradient(0deg, #08aeea 0%, #2af598 100%);
}
.container {
  display: flex;
  width: 80%;
  justify-content: space-around;
}
.counter-container {
  text-align: center;
  font-size: 20px;
  margin: 0 10px 0 0;
  padding: 10px;
}
.counter {
  font-size: 35px;
  font-weight: bold;
  padding: 10px;
}
.counter-container:hover {
  transform: scale(1.05);
  box-shadow: 2px 10px 5px rgba(0, 0, 0, 0.5);
}
