* {
  box-sizing: border-box;
}
body {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: cornflowerblue;
  overflow: hidden;
  margin: 0px;
}
.search {
  position: relative;
}
input {
  font-size: 20px;
  border-radius: 30%;
  width: 50px;
  height: 45px;
  transition: width 0.3s ease;
}
input:focus {
  outline: 0px;
}
.btn {
  border-radius: 30%;
  width: 50px;
  height: 45px;
  border: solid;
  margin: 0px;
  cursor: pointer;
  font-size: 20px;
  color: blueviolet;
  background: honeydew;
  padding: 0px;
  position: absolute;
  top: 0;
  left: 0;

  transition: transform 0.3s ease;
}
.search.active .input {
  border-radius: 0%;
  border: 0px;
  width: 200px;
}
.search.active .btn {
  border-radius: 0%;
  border: 0px;
  margin-left: 5px;
  transform: translateX(198px) scaleX(-1);
}
